body{
	background-color:tan;
}

#title{
	color: darkbrown;
	font-family: garamond;
	text-align: center;
}

h3{
	color: darkbrown;
	font-family: garamond;
	font-style: italic;
	text-align: center;

}

.imgBox{
	background-color: darktan;
	width: 60vw;
	height: 70vh;
	margin: auto;

}
