      html, body {
      	height: 100%;
      	margin: 0;
      	padding: 0;
      }
      #map {
      	height: 100%;
      }

      #floating-panel {
      	position: absolute;
      	top: 10px;
      	left: 25%;
      	z-index: 10;
      	background-color: #fff;
      	padding: 10px;
      	border: 1px solid #999;
      	text-align: center;

      	line-height: 30px;
      	padding-left: 10px;
      }

      #address{
      	font-family: 'Roboto','sans-serif';
      	font-size: 25px;
      }

      #submit{
      }