.net {
position: absolute;
left:696px;
top:220px;
 border: 4px solid #E76200;
 height: 0px;
 width: 75px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
}

.score {
	position: absolute;
	left: 100px;
	top: 50px;
	font-size: 30px;
	color: white;
	font-family: 'VT323', ;
}

.timer {
	position: absolute;
	left: 425px;
	top: 35px;
	font-size: 60px;
	color: white;
	font-family: 'VT323', ;
}